INFURA_ID_PROJECT = 
ETHERSCAN_API_KEY = 
ACCOUNT_SECRET_KEY = 
REPORT_GAS =
AMOUNT =
IronPercent = 
BronzePercent = 
SilverPercent = 
GoldPercent = 
PlatinumPercent = 
PlatinumThreshold = 
GoldThreshold = 
SilverThreshold = 
BronzeThreshold = 